* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

.list__container {
  max-width: 1400px;
  margin: 0px auto;
}

.list__container_top > h3 {
  padding: 5px 30px;
  background-color: #096dd9;
  color: white;
}

.list__container_filter {
  margin: 40px 0px;
  padding: 10px 20px;
  border: 1px solid #f0f0f0;
  width: 100%;
  min-height: 200px;
}

.list__container_filter_list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.list__container_filter_list_item {
    position: relative;
}

.list__container_filter_list_item > select {
  padding: 5px 10px;
  min-width: 300px;
  height: 30px;
  outline: none;
  border: 1px solid #f0f0f0;
  cursor: pointer;
}

.list__container_filter_list_item > h3 {
  margin: 10px 0px;
}

.list__container_filter_list_item > p {
    position: absolute;
    bottom: 0px;
    color:red;
    margin: 0px;
}

.list__container_filter_list_item > input {
  padding: 5px 10px;
  height: 30px;
  outline: none;
  border: 1px solid #f0f0f0;
  min-width: 250px;
}

.list__container_menu {
  margin: 40px 0px;
  padding: 10px 20px;
  border: 1px solid #f0f0f0;
}

.list__container_menu_table > h3 {
  padding: 10px 20px;
}

.list__container_menu_table > thead {
  margin: 10px 0px;
  width: 100%;
}

.list__container_menu_table > thead > tr > th {
  text-align: center;
}

.list__container_order {
  margin: 40px 0px;
  padding: 10px 20px;
  border: 1px solid #f0f0f0;
}

.list__container_order > h3 {
  padding: 10px 20px;
}

.list__container_order > thead {
  margin: 10px 0px;
  width: 100%;
}

.list__container_order > thead > tr > th {
  text-align: center;
}


.grand__total { 
    display: flex;
    justify-content: flex-end;
}

.grand__total > p {
    margin-right: 100px;
    color: #000;
    font-size: 20px;
    font-weight: 500;
}

.grand__total > button {
    
}